html ,body
{
    margin: 0;
    padding: 0;
}
.main
{
    width: 80vw;
    margin: auto;
}
h1
{
    position: absolute;
    z-index: 4;
    color: white;
    left: 80px;
    margin-top: 6.5em;
    font-family: Roboto;
    font-size: 2.2em;
}
h2
{
    font-size: 3em;
    text-align: center;
    font-family: "Roboto Black";
    text-transform: uppercase;
}
h3
{
    font-family: "Roboto Black";
}
p
{
    font-family: Roboto;
    opacity: 0.7;
}
strong
{
    color: #36A7C2;
}
header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    position: fixed;
    background-color: white;
    width: 100vw;
    height: 50px;
    padding-bottom: 10px;
    z-index: 5;
    margin: auto;
    top: 0;
    z-index: 150;
}
ul
{
    padding:0px;
    margin: 0px;
}

/* menu */

.menu
{
    display: flex;
    flex-direction: row;
}
.menu__items
{
    list-style: none;
    margin-left: 25px;
    padding-top: 20px;
}
.menu__item__link
{
    text-decoration: none;
    margin: 0 10px 0 10px ;
    color: black;
    font-family: Roboto;
}
.menu__items:hover
{

    border-top: 3px solid #36A7C2;
    text-decoration: none;
    margin-top: -3px;
}

/*slider*/

.slider
{
    position: relative;
    z-index: 3;
    margin: auto;
    min-width: 1024px;
    padding-top: 1px;
    margin-bottom: 667px;
    margin-top: -100px;
}
.slider>p
{
    font-family: Roboto;
    position: absolute;
    z-index: 4;
    color: white;
    left: 80px;
    margin-top: 20.5em;
    font-size: 1em;
}
.plus_info
{
    left: 80px;
    margin-top: 23em;
    border-bottom: 2px solid #1271ff;
    padding: 10px 15px 10px 15px;
    background-color: #36A7C2;
    color: white;
    border-radius: 3px;
    text-decoration:none;
    font-size: 1em;
    font-family: Roboto;
}
.slider1__bouton__droite
{
    left: 2%;
    margin-top: 22%;
}
.slider1__bouton__gauche
{
    right: 2%;
    margin-top: 22%;
}
.fa-angle-left, .fa-angle-right
{
    color: white;
}
.slider>a {
    position: absolute;
    z-index: 2;
}
.slider
{
    padding-top: 100px;
}
#slide1
{
    position: absolute;
    width: 80vw;
    height: auto;
    opacity: 100%;
    margin: auto;
    min-width: 1024px;
    padding-top: 100px;
}
#slide2
{
    position: absolute;
    width: 80vw;
    height: auto;
    opacity: 0;
    margin: auto;
    min-width: 1024px;
    padding-top: 100px;
}
#slide2:target
{
    opacity: 100%;
}
#slide1:target
{
    opacity: 100%;
}
.barre_droite_slider
{
    height: 4px;
    width: 100%;
    background-color: red;
    position: absolute;
    z-index: 5;
}
.barre_gauche_slider
{

}

/* services */

.services
{
    margin-top: 90px;
}
.services__titre
{
    text-align: center;
    width: 40%;
    margin: auto;
}
.services__corp
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}
.services__text
{
    width: 50%;
    margin-top: 50px;
}
.cercle_trait
{
    position: relative;
    padding: 10px 0px 10px 0px;
}
.cercle__titre
{
    width: 15px;
    height: 15px;
    background-color: #36A7C2;
    border-radius: 100%;
    margin: auto;
    border: 7px solid white;
    position: absolute;
    top: 4px;
    right: 305px;
}
.trait
{
    width: 20%;
    height: 0.5px;
    border: none;
    background-color: lightgrey;
}
.h2__services
{
    margin-bottom: 10px;
}
.icon__ux_design__cerlce
{
    border-radius: 100%;
    height: 75px;
    width: 75px;
    border: 1px solid #a8b5b5;
    float: left;
    margin-top: 20px;
    margin-left: -53px;
}
.services__cercle_2
{
    margin-top: 10px;
}
.services__cercle_3
{
    margin-top: 10px;
}
.icon__ux_design_point
{
    width: 13px;
    height: 13px;
    background-color: #36A7C2;
    border-radius: 100%;
    float: right;
    margin-top: 29px;
    margin-right: -7px;
}
.icon__ux_design
{
    color: #36A7C2;
    margin-left: 23px;
    margin-top: 19px;
}
.services__text>p, h3
{
    margin-left: 50px;
}
.services__text>p
{
    padding-bottom: 20px;
}
.services__text>h3
{
    margin-bottom: 0px;
    font-size: 1.5em;
}

/*projets*/

.projets
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.projets .entete
{
    width: 100%;
}
.projets .entete > p
{
    text-align: center;
    margin: auto;
    width: 50%;
}
.nav_projets
{
    width: 100%;
    max-width: 80px;
    text-align: center;
    background-color: lightgrey;
    display: block;
    padding: 10px 5px;
    margin: 30px 0 10px 0;
}
#bt1 + label
{
    border-radius: 5px 0 0 5px;
}
#bt4 + label
{
    border-radius: 0 5px 5px 0;
}
.image_portfolio>img
{
    width: 100%;
}
.image_portfolio
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 20px 20px 20px;
    width: 22%;
    position: relative;
    min-width: 300px;
}
.rond_hover_projet
{
    position: absolute;
    background-color: #36A7C2;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid white;
    top: -20px;
    right: 15px;
}
.eye_hover_projet
{
    color: white;
    margin: auto;
    position: absolute;
    top: -5px;
    right: 27.5px;
}
.image_portfolio > .calc_image
{
    display: none;
}
.image_portfolio:hover .calc_image
{
    display: block;
}
.calc_image p , .calc_image h4
{
    margin: 0;
    padding: 0 0 0 10px;
    text-align: left;
    color:  white;
    font-family: Roboto;
    opacity: 1;
}
.calc_image h4
{
    font-size: medium;
    padding: 5px 0 5px 10px;
}
.calc_image p
{
    font-size: 0.9em;
}
.calc_image
{
    width: 100px;
    height: 100px;
    background: rgba(0,0,0,0.4);
    position: absolute;
    right: 0;
    bottom: 0;
    height: 30%;
    width: 100%;
    z-index: 100;
}
input[type=radio]:checked + label {
    color:gray;
    font-style: normal;
    position: relative;
    color: white;
    background-color: #36A7C2;
    border-bottom: 2px solid #1271ff;
}
input[type=radio]:checked + label:after
{
    display: block;
    content: "";
    border: 8px solid transparent;
    border-top-color: #1271ff;
    position: absolute;
    bottom: -16px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
}
#bt1[type=radio]:checked ~ #all_works,
#bt2[type=radio]:checked ~ #creative,
#bt3[type=radio]:checked ~ #corporate,
#bt4[type=radio]:checked ~ #portfolio
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#all_works, #creative, #corporate ,#portfolio
{display: none}

[type="radio"]:not(:checked),
[type="radio"]:checked
{
    position: absolute;
    left: 0;
    opacity: 0;
}

/* contact*/

.contact
{
    margin-bottom: 30px;
    margin-top: 30px;
}
.map
{
    width: 80vw;
    height: 600px;
    margin: auto;
}
.filtre_bleu_map
{
    background-color: #1271ff;
    position: absolute;
    width: 80vw;
    height: 100%;
    opacity: 0.2;
}
.contact__bloc
{
    position: relative;
}
.formulaire
{
    width: 32%;
    opacity: 90%;
    background-color: snow;
    position: absolute;
    right: 3%;
    top: 3%;
    max-width: 400px;
    min-width: 300px;
}
.formulaire > p
{
    padding-left: 15px;
    line-height: 1.4em;
}
.formulaire > p >em
{
    font-weight: bold;
    font-style: normal;
}
.titre_formulaire
{
    margin: 10px 0 0 15px;
    font-size: 1.5em;
    font-weight: bold;
}
.zone_formulaire
{
    width: 85%;
    margin: 5px 0 5px 4%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}
.message_formulaire
{
    height: 200px;
}
::placeholder
{
    font-family: Roboto;
}
.bouton_formulaire
{
    border-width: 0;
    border-bottom: 2px solid #1271ff;
    padding: 10px 15px 10px 15px;
    background-color: #36A7C2;
    color: white;
    border-radius: 3px;
    text-decoration:none;
    font-size: 1em;
    font-family: Roboto;
    margin: 5px 0 0 18px;
}

/*responsive*/

@media screen and (max-width: 1024px)
{
    .slider
    {
        display: none;
    }
    .services
    {
        margin-top: 100px;
    }
    header
    {
        top: 0;
    }
    .menu__item__link
    {
        margin: 0;
    }
}
@media screen and (max-width: 700px)
{
    header
    {
        margin-top: 10px;
        flex-direction: column;
    }
    .services
    {
        margin-top: 40px;
    }
    header
    {
        position: static;
    }
    .main
    {
        width: 100%;
    }
    .services__corp
    {
        flex-direction: column;
    }
    .image_portfolio .calc_image
    {
        display: block;
    }
    .icon__ux_design__cerlce
    {
        margin: auto;
        float: none;
    }
    .services__text {
        width: 100%;
        margin-top: 50px;
    }
}




/* polices*/

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Light.woff2') format('woff2'),
    url('Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GLYPHICONS Halflings';
    src: url('GLYPHICONSHalflings-Regular.woff2') format('woff2'),
    url('GLYPHICONSHalflings-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Black.woff2') format('woff2'),
    url('Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-BlackItalic.woff2') format('woff2'),
    url('Roboto-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-MediumItalic.woff2') format('woff2'),
    url('Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Thin.woff2') format('woff2'),
    url('Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-ThinItalic.woff2') format('woff2'),
    url('Roboto-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('FontAwesome.woff2') format('woff2'),
    url('FontAwesome.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Italic.woff2') format('woff2'),
    url('Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Medium.woff2') format('woff2'),
    url('Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff2') format('woff2'),
    url('Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-LightItalic.woff2') format('woff2'),
    url('Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-BoldItalic.woff2') format('woff2'),
    url('Roboto-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold.woff2') format('woff2'),
    url('Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('FontAwesome.woff2') format('woff2'),
    url('FontAwesome.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontawesomeregular';
    src: url('fontawesomeregular.woff2') format('woff2'),
    url('fontawesomeregular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'glyphicons_halflingsregular';
    src: url('glyphicons_halflingsregular.woff2') format('woff2'),
    url('glyphicons_halflingsregular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GLYPHICONS Halflings';
    src: url('GLYPHICONSHalflings-Regular.woff2') format('woff2'),
    url('GLYPHICONSHalflings-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('FontAwesome.woff2') format('woff2'),
    url('FontAwesome.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

